source/visualizer/runtime/*
source/visualizer/dependencies/*
source/scripts/python/extensions/__pycache__/*

calibration/survey_data
calibration/targets
*.prn
configs/

!scenario_template/inputs/.gitkeep
!scenario_template/outputs/activitysim/log/.gitkeep
!scenario_template/outputs/activitysim/trace/.gitkeep
!scenario_template/outputs/auxiliary/.gitkeep
!scenario_template/outputs/skims/OMX_Skims/.gitkeep
!scenario_template/outputs/hwy_net/.gitkeep
!scenario_template/outputs/hwy_assign/.gitkeep
!scenario_template/outputs/trn_net/.gitkeep
!scenario_template/outputs/trn_assign/.gitkeep
!scenario_template/outputs/landuse/.gitkeep
!scenario_template/outputs/reports/.gitkeep
!source/visualizer/dependencies/.gitkeep

Changelog.txt
ReadMe.txt
